.el-menu, .el-menu-vertical-demo {
    background-color: transparent;
}

.el-menu-item, .el-menu-item:first-child {
    margin-left: 20px;
}

.el-pagination {
    float: right;
}

.el-table th, .el-table__header-wrapper thead div {
    background-color: #e5eecc;
}

.el-table {
    border: none;
}

.el-table::after {
    width: 0px;
}

.el-table, .el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #000000;
}

/* system  */
.avatar-uploader .el-upload {
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}


.avatar-uploader-icon-topic {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar-uploader-icon {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.avatar_topic {
    width: 178px;
    height: 178px;
    display: block;
}

.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px 5px 0 0;
    position: relative;
}

.update_img {
    width: 100px;
    height: 100px;
}

.delete_icon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 8px;
    right: 2px;
}

.cover {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
    z-index: 10;
}

.el-table .cell {
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;
    font-size: smaller;
}

.el-upload {
    text-align: left;
    cursor: inherit;
}

.el-form-item__label {
    float: left;
    font-size: smaller;
    width: 160px;
    text-align: left;
}

.el-form-item__content {
    margin-left: 160px;
}

.home-select-control, .home-date-control {
    width: 100%;
    line-height: 36px;
    height: 36px;
    position: relative;
}

.el-checkbox + .el-checkbox {
    margin-left: 0px;
}

body {
    margin: 0px;
}

#app {
    margin: 8px;
}

.optional-class {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

select:disabled {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #bbb;
    cursor: not-allowed;
}

.product-standard-item {
    font-size: 12px;
    position: relative;
    margin-top: 10px;
}

.product-standard-delete_icon {
    position: absolute;
    right: 2px;
    top: 45px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.product-standard-first,
.product-standard-second,
.product-standard-third,
.product-standard-fourth {
    display: flex;
    height: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}

.add-standard {
    color: #fff;
    font-size: 12px;
    width: 68px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #20a0ff;
    border-color: #20a0ff;
    border-radius: 5px;
    cursor: pointer;
}

.product-standard input {
    font-size: 10px;
}

.product-standard-second input {
    width: 15%;
    margin-right: 3px;
}

.adult-input,
.children-input {
    width: 15%;
    margin-right: 3px;
}

.product-standard-second input:last-child {
    margin-right: 0;
}

.max-tip {
    width: 55%;
}

.min-tip {
    width: 55%;
}

.product-standard-third input,
.product-standard-fourth input {
    width: 35%;
}

.el-checkbox__label {
    padding-left: 0;
    padding-right: 5px;
}