<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinzi123.dao.TableConfigDao">

    <resultMap id="tableConfig" type="com.qinzi123.dto.TableConfig">
        <id property="tableName" column="table_name"/>
        <result property="keyList" column="key_name"/>
    </resultMap>

    <select id="findTableConfig" resultMap="tableConfig">
        select * from table_config
    </select>

    <select id="findTableColumn" resultType="java.util.LinkedHashMap">
        select table_name,column_name,data_type from information_schema.`COLUMNS` where table_schema = 'zone'
    </select>

</mapper>